In [ ]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns

In [ ]:
df1 = pd.read_csv('/content/202108_view_aktivitas_user_complete_202208021913.csv')
df1.set_index('Bulan', inplace=True)
df1.rename(index= {"August": "AUG 2021"}, inplace=True)
df1.reset_index(inplace=True)
#df1

In [ ]:
df2 = pd.read_csv('/content/202110_view_aktivitas_user_complete_202208021916.csv')
df2.set_index('Bulan', inplace=True)
df2.rename(index= {"October": "OCT 2021"}, inplace=True)
df2.reset_index(inplace=True)
#df2

In [ ]:
df3 = pd.read_csv('/content/202112_view_aktivitas_user_complete_202208021919.csv')
df3.set_index('Bulan', inplace=True)
df3.rename(index= {"December": "DEC 2021"}, inplace=True)
df3.reset_index(inplace=True)
#df3

In [ ]:
df4 = pd.read_csv('/content/202201_view_aktivitas_user_complete_202208021921.csv')
df4.set_index('Bulan', inplace=True)
df4.rename(index= {"January": "JAN 2022"}, inplace=True)
df4.reset_index(inplace=True)
#df4

In [ ]:
df5 = pd.read_csv('/content/202203_view_aktivitas_user_complete_202208021923.csv')
df5.set_index('Bulan', inplace=True)
df5.rename(index= {"March": "MAR 2022"}, inplace=True)
df5.reset_index(inplace=True)
#df5

In [ ]:
df6 = pd.read_csv('/content/202205_view_aktivitas_user_complete_202208021925.csv')
df6.set_index('Bulan', inplace=True)
df6.rename(index= {"May": "MAY 2022"}, inplace=True)
df6.reset_index(inplace=True)
#df6

In [ ]:
df7 = pd.read_csv('/content/202207_view_aktivitas_user_complete_202208021928.csv')
df7.set_index('Bulan', inplace=True)
df7.rename(index= {"July": "JUL 2022"}, inplace=True)
df7.reset_index(inplace=True)

In [ ]:
df8 = pd.read_csv('/content/202208_view_aktivitas_user_complete_202208021929.csv')
df8.set_index('Bulan', inplace=True)
df8.rename(index= {"August": "AUG 2022"}, inplace=True)
df8.reset_index(inplace=True)

In [ ]:
data1 = df1.append(df2)
data2 = data1.append(df3)
data3 = data2.append(df4)
data4 = data3.append(df5)
data5 = data4.append(df6)
data6 = data5.append(df7)
data7 = data6.append(df8)
df_hasil = data7
df_hasil

,Bulan,Tanggal,Minggu,Hari,Kode_User,Tanggal_Lahir,Nama_Bidan,Provinsi,Kota atau Kabupaten,Kecamatan atau Kelurahan,Penggunaan_Menu,Aktivitas_Bidan,Keterangan
0,AUG 2021,2021-08-01 00:00:22,1.0,1.0,889300.0,1981-04-25,Junita Purba,SUMATERA UTARA,KABUPATEN DELI SERDANG,PERCUT SEI TUAN,video,watch,watched on Prenatal Yoga untuk Relaksasi & Ata...
1,AUG 2021,2021-08-01 00:00:23,1.0,1.0,889300.0,1981-04-25,Junita Purba,SUMATERA UTARA,KABUPATEN DELI SERDANG,PERCUT SEI TUAN,video,watch_point,+3 point from video section!
2,AUG 2021,2021-08-01 00:01:24,1.0,1.0,889300.0,1981-04-25,Junita Purba,SUMATERA UTARA,KABUPATEN DELI SERDANG,PERCUT SEI TUAN,tool,use_point,+3 point from use.
3,AUG 2021,2021-08-01 00:01:24,1.0,1.0,889300.0,1981-04-25,Junita Purba,SUMATERA UTARA,KABUPATEN DELI SERDANG,PERCUT SEI TUAN,tool,risiko_kurang_zat_be,Junita Purba has used risiko_kurang_zat_besi t...
4,AUG 2021,2021-08-01 00:05:37,1.0,1.0,99000204.0,1991-05-25,Maya Latifatul Masrurroh,BENGKULU,KOTA BENGKULU,RATU AGUNG,tool,use_point,+3 point from use.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8493,AUG 2022,2022-08-02 19:27:41,1.0,2.0,30449.0,1976-11-16,"Surya Helena Noprianti Harahap, Bidan",SUMATERA UTARA,KABUPATEN SIMALUNGUN,SIANTAR,video,watch_point,+6 point from video section!
8494,AUG 2022,2022-08-02 19:28:40,1.0,2.0,56607.0,1978-09-19,ELVINA SINAGA,SUMATERA UTARA,KABUPATEN SIMALUNGUN,TAPIAN DOLOK,video,watch,watched on Stimulasi Tumbuh Kembang Anak in vi...
8495,AUG 2022,2022-08-02 19:28:41,1.0,2.0,56607.0,1978-09-19,ELVINA SINAGA,SUMATERA UTARA,KABUPATEN SIMALUNGUN,TAPIAN DOLOK,video,watch_point,+6 point from video section!
8496,AUG 2022,2022-08-02 19:29:05,1.0,2.0,110683.0,1986-06-15,"Tiurma Rumahorbo, BPS",SUMATERA UTARA,KOTA PEMATANG SIANTAR,SIANTAR MARIMBUN,video,watch,watched on Stimulasi Tumbuh Kembang Anak in vi...
8497,AUG 2022,2022-08-02 19:29:06,1.0,2.0,110683.0,1986-06-15,"Tiurma Rumahorbo, BPS",SUMATERA UTARA,KOTA PEMATANG SIANTAR,SIANTAR MARIMBUN,video,watch_point,+6 point from video section!

In [ ]:
df_hasil1 = df_hasil[['Tanggal', 'Bulan', 'Provinsi', 'Tanggal_Lahir', 'Penggunaan_Menu', 'Aktivitas_Bidan']]
df_hasil1['Number'] = np.arange(len(df_hasil1))
df_hasil1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Tanggal,Bulan,Provinsi,Tanggal_Lahir,Penggunaan_Menu,Aktivitas_Bidan,Number
0,2021-08-01 00:00:22,AUG 2021,SUMATERA UTARA,1981-04-25,video,watch,0
1,2021-08-01 00:00:23,AUG 2021,SUMATERA UTARA,1981-04-25,video,watch_point,1
2,2021-08-01 00:01:24,AUG 2021,SUMATERA UTARA,1981-04-25,tool,use_point,2
3,2021-08-01 00:01:24,AUG 2021,SUMATERA UTARA,1981-04-25,tool,risiko_kurang_zat_be,3
4,2021-08-01 00:05:37,AUG 2021,BENGKULU,1991-05-25,tool,use_point,4
...,...,...,...,...,...,...,...
8493,2022-08-02 19:27:41,AUG 2022,SUMATERA UTARA,1976-11-16,video,watch_point,395136
8494,2022-08-02 19:28:40,AUG 2022,SUMATERA UTARA,1978-09-19,video,watch,395137
8495,2022-08-02 19:28:41,AUG 2022,SUMATERA UTARA,1978-09-19,video,watch_point,395138
8496,2022-08-02 19:29:05,AUG 2022,SUMATERA UTARA,1986-06-15,video,watch,395139
8497,2022-08-02 19:29:06,AUG 2022,SUMATERA UTARA,1986-06-15,video,watch_point,395140

In [ ]:
from datetime import datetime
from datetime import date

#def calculate_age(born):
        #born = datetime.strptime(born, "%d.%m.%Y").date()
        #today = date.today()
        #return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

        #df_hasil1['Umur'] = df_hasil1['col6'].apply(calculate_age)
        #print(df_hasil1)
#df_hasil1['Umur'] = pd.to_datetime(df_hasil1['Tanggal_Lahir'], errors='coerce')
#df_hasil1

In [ ]:
df_hasil1["Tanggal_Lahir"] = pd.to_datetime(df_hasil1["Tanggal_Lahir"])
df_hasil1["Umur"] = df_hasil1["Tanggal_Lahir"].apply(lambda x : (pd.datetime.now().year - x.year))
df_hasil1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Tanggal,Bulan,Provinsi,Tanggal_Lahir,Penggunaan_Menu,Aktivitas_Bidan,Number,Umur
0,2021-08-01 00:00:22,AUG 2021,SUMATERA UTARA,1981-04-25,video,watch,0,41.0
1,2021-08-01 00:00:23,AUG 2021,SUMATERA UTARA,1981-04-25,video,watch_point,1,41.0
2,2021-08-01 00:01:24,AUG 2021,SUMATERA UTARA,1981-04-25,tool,use_point,2,41.0
3,2021-08-01 00:01:24,AUG 2021,SUMATERA UTARA,1981-04-25,tool,risiko_kurang_zat_be,3,41.0
4,2021-08-01 00:05:37,AUG 2021,BENGKULU,1991-05-25,tool,use_point,4,31.0
...,...,...,...,...,...,...,...,...
8493,2022-08-02 19:27:41,AUG 2022,SUMATERA UTARA,1976-11-16,video,watch_point,395136,46.0
8494,2022-08-02 19:28:40,AUG 2022,SUMATERA UTARA,1978-09-19,video,watch,395137,44.0
8495,2022-08-02 19:28:41,AUG 2022,SUMATERA UTARA,1978-09-19,video,watch_point,395138,44.0
8496,2022-08-02 19:29:05,AUG 2022,SUMATERA UTARA,1986-06-15,video,watch,395139,36.0
8497,2022-08-02 19:29:06,AUG 2022,SUMATERA UTARA,1986-06-15,video,watch_point,395140,36.0

In [ ]:
options = ['comment']

# selecting rows based on condition
hsl_df = df_hasil1.loc[df_hasil['Aktivitas_Bidan'].isin(options)]

print('\nResult dataframe :\n',
	hsl_df)

Result dataframe :
                   Tanggal     Bulan          Provinsi Tanggal_Lahir  \
13    2021-08-01 00:29:24  AUG 2021          BENGKULU    1991-05-25
15    2021-08-01 00:29:53  AUG 2021          BENGKULU    1991-05-25
17    2021-08-01 00:45:17  AUG 2021            BANTEN    1995-05-19
22    2021-08-01 03:17:43  AUG 2021        JAWA TIMUR    1978-01-01
24    2021-08-01 03:18:39  AUG 2021        JAWA TIMUR    1978-01-01
...                   ...       ...               ...           ...
8477  2022-08-02 19:23:59  AUG 2022          BENGKULU    1976-10-12
8479  2022-08-02 19:24:15  AUG 2022  SULAWESI SELATAN    1988-10-21
8482  2022-08-02 19:25:12  AUG 2022          BENGKULU    1970-11-04
8486  2022-08-02 19:25:19  AUG 2022          BENGKULU    1968-08-19
8491  2022-08-02 19:26:26  AUG 2022          BENGKULU    1968-08-19

     Penggunaan_Menu Aktivitas_Bidan  Number  Umur
13             forum         comment      13  31.0
15        ask-expert         comment      15  31.0
17       infographic         comment      17  27.0
22             forum         comment      22  44.0
24        ask-expert         comment      24  44.0
...              ...             ...     ...   ...
8477      ask-expert         comment  395120  46.0
8479     infographic         comment  395122  34.0
8482           forum         comment  395125  52.0
8486           forum         comment  395129  54.0
8491           video         comment  395134  54.0

[75470 rows x 8 columns]

In [ ]:
from pandas.io import gbq

hsl_df.to_gbq(destination_table='eNutri.set-age',
            project_id= 'enutri-359007',
            if_exists= 'replace')

1it [00:07,  7.95s/it]